<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webpack 2 Basics</title>
</head>
<body>
<h1>Let's use My first webpack project</h1>
<div>
    <img src="img/webpack-logo.png" alt="Webpack">
</div>
<div>
	<%= require('html-loader!./snippets/footer.html') %>
</div>

<button id="randomInt">A random Integer</button>
<button id="randomRange">A random Integer in a Range</button>
<p id="outputParagraph">You can't see this all the time</p>
<div id="demo"></div>
</body>
</html>
